/********************
/* WidgetStyles
/*******************/
.widget .header
{
	background-color: #5A4169;
	color: #FFF;
	height: 24px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	width: 100%;
}

.widget .header a:link, .widget .header a:visited
{
	color: #FFF;
	text-decoration: none;
}

.widget .header a:hover, .widget .header a:active
{
	text-decoration: underline;
}

.widget .content
{
	background-color: #FFF;
	width: 100%;
}

.widget .main_content
{
	margin: 4px;
}

.widget .tabs
{
	font-size: .75em;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.widget .tabs li
{
	border-right: 1px solid #FFF;
	display: block;
	float: left;
	text-align: center;
}

.widget .tabs li.last
{
	border-right: 0px;
}

.widget .tabs li a
{
	background-color: #DDC4E6;
	background-image: url('../images/tab_bg.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	display: block;
	height: 24px;
	width: 100%;
}

.widget .tabs li a:link, .widget .tabs li a:visited
{
	color: #000;
	text-decoration: none;
}

.widget .tabs li a:hover, .widget .tabs li a:active, .widget .tabs li.selected a
{
	background-color: #B37AC5;
	/*background-image: url('../images/tab_bg_hover.png');*/
	background-position: 0px -24px;
	color: #FFF;
}

/********************
/* Fever Widget
/*******************/
#widget_fever
{
	display: block;
	float: right;
	width: 316px;
}

#widget_fever .content
{
	height: 430px;
}

#widget_fever .tabs .colors_3, #widget_fever .tabs .colors_5
{
	width: 105px;
}

#widget_fever .tabs .colors_4
{
	width: 104px;
}

#widget_fever .tabs img
{
	margin: 4px 0px;
}

#widget_fever select
{
	width: 100%;
}

#widget_fever_chainSelect
{
	height: 370px;
}

#widget_fever fieldset
{
	text-align: center;
}

#widget_fever fieldset a
{
	margin: 0px 4px;
}

/********************
/* Options Widget
/*******************/
#widget_options
{
	margin: 16px auto;
	width: 632px;
}

#widget_options .content
{
	height: 348px;
}

#widget_options .main_content
{
	overflow: auto;
	height: 316px;
}

#widget_options .tabs li
{
	width: 157px;
}

#widget_options .tabs li.last
{
	width: 158px;
}

#widget_options input.linking_code
{
	font-size: .75em;
	margin-bottom: 8px;
	width: 618px;
}
#puyo_skin_selection fieldset
{
	display: block;
	float: left;
	margin: 8px;
	width: 42%;
}