@import url("https://fonts.googleapis.com/css?family=PT+Sans:700&text=PuyoSim");
#pn-header,
#pn-footer {
    font: 14px/1.5 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.pn-nav {
    float: left;
    list-style: none;
    margin: 0 0 0 -15px;
    padding: 0;
}
.pn-nav li {
    float: left;
    margin: 0;
}
.pn-nav li a {
    display: block;
    line-height: 20px;
    padding: 0 15px;
    text-decoration: none;
}
.pn-nav.pn-nav-right {
    float: right;
    margin: 0 -15px 0 0;
}
.pn-nav.pn-nav-right.pn-nav-social a {
    font-size: 18px;
    padding: 0 10px;
}
.pn-nav.pn-nav-right.pn-nav-social a i:before {
    line-height: 20px;
}
.pn-nav.pn-nav-right.pn-nav-social a .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    text-align: center;
}

#pn-navbar {
    background-color: #2b2b2b;
}
#pn-navbar a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
#pn-navbar a:hover {
    color: #bbb;
}
#pn-navbar .active a {
    background-color: #2c3e50;
    color: #fff;
}
#pn-navbar .pn-navbar-toggle {
    margin: 10px 0 10px 15px;
    padding: 10px;
}
#pn-navbar .pn-navbar-toggle-icon {
    background-image: url("../../assets/images/common/bars.svg");
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

#pn-navbar-sub {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
#pn-navbar-sub a {
    color: #777;
    padding-top: 10px;
    padding-bottom: 10px;
}
#pn-navbar-sub a:hover {
    color: #333;
}
#pn-navbar-sub .active a {
    background-color: #e7e7e7;
    color: #555;
}

#pn-navbar::after,
#pn-navbar-sub::after {
    display: block;
    content: "";
    clear: both;
}
#pn-navbar-brand {
    border: 0;
    color: #fff;
    font: bold 30px/1 "PT Sans", -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    float: left;
    margin: 0 15px 0 -15px;
}
#pn-navbar-brand a {
    background: url("../../assets/images/common/logo.svg") no-repeat 15px center;
    padding: 15px 15px 15px 65px;
    text-decoration: none;
    display: block;
}

.pn-navbar-toggle {
    cursor: pointer;
    display: none;
    float: right;
    border: 0;
    background: transparent;
    font-size: 20px;
    line-height: 1;
    border-radius: 5px;
}

#pn-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    min-height: 60px;
}
#pn-footer p {
    color: #777;
    margin: 19px 0;
}
#pn-footer.pn-footer-alt {
    border-top-color: #f5f5f5;
}
#pn-footer::after {
    display: block;
    content: "";
    clear: both;
}

@media (max-width: 767px) {
    #pn-navbar .pn-navbar-collapse {
        margin: 0 -15px 0;
        overflow: hidden;
        clear: both;
        transition: height 0.35s ease-in-out;
    }
    #pn-navbar .pn-navbar-collapse.collapse {
        height: 0;
    }
    #pn-navbar .pn-nav {
        float: none;
        margin: 10px 0 0;
    }
    #pn-navbar .pn-nav li {
        float: none;
        display: block;
    }
    #pn-navbar .pn-nav li a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #pn-navbar .pn-nav:first-of-type {
        margin-top: 0;
    }
    #pn-navbar .pn-nav.pn-nav-social li {
        float: left;
    }
    #pn-navbar .pn-nav.pn-nav-social li a {
        padding-left: 15px;
        padding-right: 15px;
    }
    #pn-navbar .pn-nav.pn-nav-social::after {
        display: block;
        content: "";
        clear: both;
    }
    #pn-navbar .pn-navbar-toggle {
        display: block;
        background-color: #2c3e50;
    }
    #pn-navbar .pn-navbar-toggle.collapsed {
        background-color: transparent;
    }
}
